<html>
    <header><title>Find Who Doesn't Follow Back</title></header>    
    <body>
        <form method="POST">
            <label>Text Box 1:</label>
            <input type="text" name="text1"><br>
            <label>Text Box 2:</label>
            <input type="text" name="text2"><br>
            <input type="submit" value="Submit">
        </form>

        <h2>Result:</h2>
        <ul>
        {% for string in result %}
            <li>{{ string }}</li>
        {% endfor %}
        </ul>
    </body>
</html>