<html>
    <head>
        <header><title>Who Doesn't Follow Back</title></header>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <form method="POST">
            <h2>Instagram Account</h2>
            <label>Username:</label>
            <input type="text" name="username"><br>
            <label>Password:</label>
            <input type="text" name="password"><br>
            <input type="submit" value="Submit">
        </form>

        <h2>These are the people who you follow that don't follow back:</h2>
        <ul>
        {% for string in result %}
            <li>{{ string }}</li>
        {% endfor %}
        </ul>
    </body>
</html>